<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zxlee.znotifyapi.mapper.FeedbackMapper">
    <resultMap id="listResultMap" type="FeedbackPO">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="contact" property="contact"/>
        <result column="content" property="content"/>
        <result column="extra_info" property="extraInfo"/>
        <result column="project_id" property="projectId"/>
        <result column="img_urls" property="imgUrls" typeHandler="cn.zxlee.znotifyapi.resolver.ImgsTypeHandler"/>
        <result column="reply" property="reply"/>
        <result column="createtime" property="createtime"/>
        <result column="updatetime" property="updatetime"/>
    </resultMap>

    <select id="list" resultMap="listResultMap" parameterType="Map">
        SELECT * FROM `t_feedback` WHERE project_id = #{projectId}
        <if test="keyword!='' and keyword!=null">
            <bind name="pattern" value="'%' + keyword + '%'"/>
            AND `username` LIKE #{pattern}
        </if>
        ORDER BY updatetime, createtime DESC
    </select>

    <select id="listById" resultType="FeedbackPO" parameterType="string">
        SELECT * FROM `t_feedback` WHERE id = #{id}
    </select>

    <select id="listByUsername" resultMap="listResultMap" parameterType="string">
        SELECT * FROM `t_feedback` WHERE `project_id` = #{projectId} AND `username` = #{username} ORDER BY createtime DESC
    </select>

    <insert id="insertOne" parameterType="FeedbackPO">
        INSERT INTO `t_feedback`(`id`,`username`,`contact`,`content`,`extra_info`,`img_urls`,`project_id`) VALUES (#{id},#{username},#{contact},#{content},#{extraInfo},#{imgUrls, typeHandler=cn.zxlee.znotifyapi.resolver.ImgsTypeHandler},#{projectId})
    </insert>

    <update id="updateReply">
        UPDATE `t_feedback`
        <set>
            <if test="bo.reply != null and bo.reply != ''">
                `reply` = #{bo.reply},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="string">
        DELETE FROM `t_feedback` WHERE id = #{id}
    </delete>
</mapper>

