<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zxlee.znotifyapi.mapper.NoticeMapper">
    <select id="list" resultType="NoticePO" parameterType="string">
        SELECT `id`, `title`, `content`, `project_id`, `createtime`, `updatetime`, `expiretime`, `expiretime` IS NULL OR `expiretime` > now() AS `status`
        FROM `t_notice`
        WHERE `project_id` = #{projectId}
        ORDER BY `status` DESC, `createtime` DESC
    </select>

    <select id="listByExipretime" resultType="NoticePO" parameterType="string">
        SELECT * FROM `t_notice` WHERE `project_id` = #{projectId}
        <![CDATA[
              AND (
              `expiretime` IS NULL
              OR
              `expiretime` >= now()
              )
        ]]>
        ORDER BY `createtime` DESC
    </select>

    <select id="listById" resultType="NoticePO" parameterType="string">
        SELECT * FROM `t_notice` WHERE `id` = #{id}
    </select>

    <insert id="insertOne" parameterType="NoticePO">
        INSERT INTO `t_notice`(`id`, `title`, `content`, `project_id`, `expiretime`) VALUES (#{id},#{title},#{content},#{projectId},#{expiretime})
    </insert>

    <update id="updateOne">
        UPDATE `t_notice`
        <set>
            <if test="po.title != null and po.title != ''">
                `title` = #{po.title},
            </if>
            <if test="po.content != null and po.content != ''">
                `content` = #{po.content},
            </if>
            <if test="po.expiretime != null">
                `expiretime` = #{po.expiretime},
            </if>
        </set>
        WHERE `id` = #{id}
    </update>

    <delete id="deleteById" parameterType="string">
        delete FROM `t_notice` WHERE id = #{id}
    </delete>
</mapper>

