<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zxlee.znotifyapi.mapper.ProjectMapper">
    <select id="list" resultType="ProjectPO">
        select id, project_name, createtime, updatetime, user_id,
        (SELECT COUNT(0) from t_notice WHERE t_notice.project_id = t_project.id) as notice_count,
        (SELECT COUNT(0) from t_text WHERE t_text.project_id = t_project.id) as text_count,
        (SELECT COUNT(0) from t_version WHERE t_version.project_id = t_project.id) as version_count,
        (SELECT COUNT(0) from t_feedback WHERE t_feedback.project_id = t_project.id) as feedback_count
        from t_project
        where user_id = #{userId}
        <if test="keyword!='' and keyword!=null">
            <bind name="pattern" value="'%' + keyword + '%'"/>
            and project_name like #{pattern}
        </if>
        order by createtime desc
    </select>

    <select id="listByName" resultType="ProjectPO" parameterType="string">
        select * from t_project where user_id = #{userId} and project_name = #{projectName}
    </select>

    <select id="listById" resultType="ProjectPO" parameterType="string">
        select * from t_project where user_id = #{userId} and id = #{id}
    </select>

    <select id="publicListById" resultType="ProjectPO" parameterType="string">
        select * from t_project where id = #{id}
    </select>

    <insert id="insertProject">
        insert into t_project (id,project_name,user_id) VALUES (#{projectPO.id},#{projectPO.projectName},#{userId})
    </insert>

    <delete id="deleteById" parameterType="string">
        delete from t_project where id = #{id}
    </delete>
</mapper>

