<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zxlee.znotifyapi.mapper.ProjectMapper">
    <select id="listForSelect" resultType="SelectVO">
        SELECT `id` AS `value`, `project_name` AS `label` FROM `t_project` WHERE `user_id` = #{userId} ORDER BY `createtime` DESC
    </select>

    <select id="list" resultType="ProjectPO">
        SELECT `id`, `project_name`, `createtime`, `updatetime`, `user_id`,
        (SELECT COUNT(0) FROM `t_notice` WHERE `t_notice`.`project_id` = `t_project`.`id`) AS `notice_count`,
        (SELECT COUNT(0) FROM `t_text` WHERE `t_text`.`project_id` = `t_project`.`id`) AS `text_count`,
        (SELECT COUNT(0) FROM `t_version` WHERE `t_version`.`project_id` = `t_project`.`id`) AS `version_count`,
        (SELECT COUNT(0) FROM `t_feedback` WHERE `t_feedback`.`project_id` = `t_project`.`id`) AS `feedback_count`
        FROM `t_project`
        WHERE `user_id` = #{userId}
        <if test="keyword!='' and keyword!=null">
            <bind name="pattern" value="'%' + keyword + '%'"/>
            AND `project_name` LIKE #{pattern}
        </if>
        ORDER BY `createtime` DESC
    </select>

    <select id="listByName" resultType="ProjectPO" parameterType="string">
        SELECT * FROM `t_project` WHERE `user_id` = #{userId} AND `project_name` = #{projectName}
    </select>

    <select id="listByUserIdAndId" resultType="ProjectPO" parameterType="string">
        SELECT * FROM `t_project` WHERE `user_id` = #{userId} AND `id` = #{id}
    </select>

    <select id="publicListById" resultType="ProjectPO" parameterType="string">
        SELECT * FROM `t_project` WHERE `id` = #{id}
    </select>

    <insert id="insertOne">
        INSERT INTO `t_project` (`id`, `project_name`, `user_id`) VALUES (#{id},#{projectName},#{userId})
    </insert>

    <delete id="deleteById" parameterType="string">
        DELETE FROM `t_project` WHERE `id` = #{id}
    </delete>
</mapper>

