<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zxlee.znotifyapi.mapper.StatisticsMapper">
    <select id="list" resultType="StatisticsPO" parameterType="Map">
        SELECT * FROM `t_statistics` WHERE `project_id` = #{projectId} ORDER BY `createtime` DESC
    </select>

    <select id="countGroupBy" resultType="int" parameterType="string">
        SELECT COUNT(0) FROM (SELECT 1 FROM `t_statistics` WHERE `project_id` = #{projectId} GROUP BY ${by}) AS `t_count`
    </select>

    <select id="todayCountGroupBy" resultType="int" parameterType="string">
        SELECT COUNT(0) FROM (SELECT 1 FROM `t_statistics` WHERE `project_id` = #{projectId} AND TO_DAYS(`createtime`) = TO_DAYS(NOW()) GROUP BY ${by}) AS `t_count`
    </select>

    <select id="yesterdayCountGroupBy" resultType="int" parameterType="string">
        SELECT COUNT(0) FROM (SELECT 1 FROM `t_statistics` WHERE `project_id` = #{projectId} AND TO_DAYS(NOW()) - TO_DAYS(`createtime`) = 1 GROUP BY ${by}) AS `t_count`
    </select>

    <select id="ipRegionCountList" resultType="StatisticsRegionCountVO" parameterType="string">
        SELECT COUNT(0) as count, `ip_region` as `region` FROM `t_statistics` WHERE `project_id` = #{projectId}  GROUP BY `ip_region`
    </select>

    <select id="hour24CountList" resultType="StatisticsTimeCountVO" parameterType="string">
        SELECT DATE_FORMAT(createtime, '%H') AS `hour`,
        COUNT(`createtime`) AS `count`
        FROM `t_statistics`
        WHERE `project_id` = #{projectId}
        AND DATE_FORMAT(`createtime`,'%Y-%m-%d') = DATE_FORMAT(CURDATE(),'%Y-%m-%d')
        GROUP BY `hour`
    </select>

    <select id="days10CountList" resultType="StatisticsDateCountVO" parameterType="string">
        SELECT DATE_FORMAT(createtime,'%Y-%m-%d') AS `date`,
        COUNT(`createtime`) AS `count`
        FROM `t_statistics`
        WHERE `project_id` = #{projectId}
        AND DATE_SUB(CURDATE(), INTERVAL 10 DAY) &lt;= date(`createtime`)
        GROUP BY `date`
        ORDER BY `date` desc
    </select>

    <select id="months12CountList" resultType="StatisticsDateCountVO" parameterType="string">
        SELECT DATE_FORMAT(createtime,'%Y-%m') AS `date`,
        COUNT(`createtime`) AS `count`
        FROM `t_statistics`
        WHERE `project_id` = #{projectId}
        AND DATE_SUB(CURDATE(), INTERVAL 12 MONTH) &lt;= date(`createtime`)
        GROUP BY `date`
        ORDER BY `date` desc
    </select>

    <select id="listCount" resultType="int" parameterType="string">
        SELECT COUNT(0) FROM `t_statistics` WHERE `project_id` = #{projectId}
    </select>

    <select id="todayListCount" resultType="int" parameterType="string">
        SELECT COUNT(0) FROM `t_statistics` WHERE `project_id` = #{projectId} AND TO_DAYS(`createtime`) = TO_DAYS(NOW( ))
    </select>

    <select id="yesterdayListCount" resultType="int" parameterType="string">
        SELECT COUNT(0) FROM `t_statistics` WHERE `project_id` = #{projectId} AND TO_DAYS(NOW()) - TO_DAYS(`createtime`) = 1
    </select>

    <select id="lastDays7ListCount" resultType="int" parameterType="string">
        SELECT COUNT(0) FROM `t_statistics` WHERE `project_id` = #{projectId} AND DATE_SUB(CURDATE(), INTERVAL 7 DAY) &gt;= date(createtime) AND DATE_SUB(CURDATE(), INTERVAL 14 DAY) &lt;= date(createtime)
    </select>

    <select id="days7ListCount" resultType="int" parameterType="string">
        SELECT COUNT(0) FROM `t_statistics` WHERE `project_id` = #{projectId} AND DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(createtime)
    </select>

    <select id="days30ListCount" resultType="int" parameterType="string">
        SELECT COUNT(0) FROM `t_statistics` WHERE `project_id` = #{projectId} AND DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(createtime)
    </select>

    <select id="listById" resultType="StatisticsPO" parameterType="string">
        SELECT * FROM `t_statistics` WHERE `id` = #{id}
    </select>

    <insert id="insertOne" parameterType="StatisticsPO">
        INSERT INTO `t_statistics`(`id`, `ip`, `ip_region`, `tag`, `from`, `project_id`) VALUES (#{id},#{ip},#{ipRegion},#{tag},#{from},#{projectId})
    </insert>

    <delete id="deleteById" parameterType="string">
        DELETE FROM `t_statistics` WHERE `id` = #{id}
    </delete>
</mapper>

