<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zxlee.znotifyapi.mapper.VersionMapper">
    <select id="list" resultType="VersionPO" parameterType="Map">
        SELECT * FROM `t_version` WHERE project_id = #{projectId}
        <if test="keyword!='' and keyword!=null">
            <bind name="pattern" value="'%' + keyword + '%'"/>
            AND `version` LIKE #{pattern}
        </if>
        ORDER BY `version` DESC
    </select>

    <select id="listByVersion" resultType="VersionPO" parameterType="string">
        SELECT * FROM `t_version` WHERE project_id = #{projectId} AND `version` = #{version} ORDER BY `version` DESC
    </select>

    <select id="listByHigherVersion" resultType="VersionPO" parameterType="string">
        SELECT * FROM `t_version` WHERE project_id = #{projectId}
        <![CDATA[
              AND `version` > #{version}
        ]]>
        ORDER BY `version` DESC
    </select>

    <select id="listById" resultType="VersionPO" parameterType="string">
        SELECT * FROM `t_version` WHERE id = #{id}
    </select>

    <insert id="insertOne" parameterType="VersionPO">
        INSERT INTO `t_version`(`id`,`version`,`content`,`download_url`,`project_id`) VALUES (#{id},#{version},#{content},#{downloadUrl},#{projectId})
    </insert>

    <update id="updateOne">
        UPDATE `t_version`
        <set>
            <if test="po.version != null and po.version != ''">
                `version` = #{po.version},
            </if>
            <if test="po.content != null and po.content != ''">
                `content` = #{po.content},
            </if>
            <if test="po.downloadUrl != null and po.downloadUrl != ''">
                `download_url` = #{po.downloadUrl},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="string">
        DELETE FROM `t_version` WHERE id = #{id}
    </delete>
</mapper>

